{% extends "base.html" %}
{% block contenido %}
<div class="box">
  <h2>Registro de usuario</h2>
  <form>
    <label>Nombre completo</label>
    <input type="text" placeholder="Nombre Apellido">

    <label>Correo</label>
    <input type="email" placeholder="correo@ejemplo.com">

    <label>Teléfono</label>
    <input type="text" placeholder="33xxxxxxx">

    <label>Contraseña</label>
    <input type="password" placeholder="********">

    <button type="button">Registrarse</button>
  </form>
  <p class="small">Formulario visual, no guarda datos todavía.</p>
</div>
{% endblock %}
