{% extends "public/base_public.html" %}
{% block contenido %}
<section class="box">
  <h2 class="page-title">Planes disponibles</h2>
  <table>
    <thead>
      <tr>
        <th>Plan</th>
        <th>Precio anual</th>
        <th>Descripcion</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Basico</td>
        <td>$2,500</td>
        <td>Viajes limitados por dia.</td>
        <td><button type="button">Elegir</button></td>
      </tr>
      <tr>
        <td>Estudiante</td>
        <td>$1,800</td>
        <td>Opcion con descuento.</td>
        <td><button type="button">Elegir</button></td>
      </tr>
      <tr>
        <td>Ilimitado</td>
        <td>$3,600</td>
        <td>Uso intensivo del sistema.</td>
        <td><button type="button">Elegir</button></td>
      </tr>
    </tbody>
  </table>
</section>
{% endblock %}
