{% extends "public/base_public.html" %}
{% block contenido %}
<section class="content-grid">
  <div class="box">
    <h2 class="page-title">Validar viaje</h2>
    <form>
      <label>ID de usuario o tarjeta</label>
      <input type="text" placeholder="UDG-000123">

      <label>Ruta</label>
      <select>
        <option>Ruta 622</option>
        <option>Ruta 380</option>
        <option>Ruta C98</option>
      </select>

      <label>Estacion o punto</label>
      <input type="text" placeholder="Terminal Norte">

      <button type="button">Validar</button>
    </form>
  </div>
  <div class="box">
    <h3>Resultado esperado</h3>
    <p><span class="tag">Simulacion</span></p>
    <p>La siguiente fase registrara esta validacion en base de datos.</p>
  </div>
</section>
{% endblock %}
